<style>
#home-banner {
    background-image: url('{{ site.data.theme.featured-image }}');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: {{ site.data.theme.home-banner-image-position | default: 'center' }};
    min-height: 400px;
    
}
#home-title-box {
    padding-top: {{ site.data.theme.home-title-y-padding | default: '5em' }};
    padding-bottom: {{ site.data.theme.home-title-y-padding | default: '5em' }};
    display: flex;
    justify-content: center;     /* centers horizontally */
    align-items: center;         /* centers vertically */
    height: 100%;    
              /* ensures it fills the parent */
}
@media screen and (max-width: 576px) {
    #home-title-box {
        max-height: 500px;
    }
}
</style>

<div id="home-banner" class="container-fluid mb-0 p-0">
    <div id="home-title-box" class="position-relative" >
        <div class="p-5 text-center text-white bg-dark bg-opacity-75">
            <h1 class="site-title">{{ site.title }}</h1>
            <hr style="width:100px;" class="mx-auto">
            <!-- {% if site.tagline %}<p class="mb-0">{{ site.tagline }}</p>{% endif %} -->
            <p id="active-menu-label" class="fs-5 fst-italic text-white section-title"></p>
        </div>
        {% unless site.data.theme.featured-image contains '/' %}
        <div class="position-absolute bottom-0 end-0 px-2 bg-dark bg-opacity-75">
            <a class="text-white fs-6" href="{% if featuredItem.parentid %}{{ site.data.theme.featured-image | prepend: '#' | prepend: featuredItem.parentid | prepend: '/item.html?id=' | relative_url }}{% else %}{{ site.data.theme.featured-image | prepend: '/item.html?id=' | relative_url }}{% endif %}" title="{{ featuredItem.title | escape }}">Featured Image</a>
        </div>{% endunless %}
    </div>
</div>


<script src="{{ '/assets/js/active-label.js' | relative_url }}"></script>