/*  
    base - slight modifications to override base Bootstrap
    these values are configurable using theme.yml > Theme Fonts area 
    or by editing base variables in cb.scss
*/
body {
    @if $base-font-family != "" { font-family: $base-font-family; }
    @if $base-font-size != "" { font-size: $base-font-size; }
    @if $text-color != "" { color: $text-color; }
}


p.section-title{
    font-size: 18px;
    text-align: center;
    margin: 15px 0px 0px 0px;
}
cd 
.centered-box {
  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: center;     /* vertical centering */
  height: 103px;           /* set a height so it knows how to center */
}

.input-group .btn-light {
  border: 1px solid #d1d3d6;
}

.exhibit-title {
    background-color:#E9E9E9;
    padding: 20px;
}

a {
    /* remove link underline */ 
    text-decoration: none;
    @if $link-color != "" { 
        color: $link-color; 
        &:hover {
            @if $text-color != "" { color: $text-color; }
        }
    }
}

/* skip nav for accessibility, based on https://webaim.org/techniques/skipnav/ */
#skip-to-content a {
	padding:6px;
	position: absolute;
	top:-100px;
	left:0px;
	color:white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-bottom-right-radius:8px;
	background:#BF1722;
	-webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 100;
}
#skip-to-content a:focus {
	position:absolute;
	left:0px;
	top:0px;
	outline-color:transparent;	
	-webkit-transition: top .1s ease-in;
    transition: top .1s ease-in;
}

/* banner */
#home-banner-logo { 
    height: 40px; 
}

/* nav bar */
#mobile-nav-image {
    max-height: 1.5em;
}

/* footer */
#footer-logo {
    height: 50px;
}
#footer-credits {
    img { height: 40px; }
}

#footer-nav .nav-link.active, #footer-nav .show > .nav-link {
    color: #fff;
    border: solid white 1px;
    background: transparent;
  }

  #footer-nav .nav-link:hover {
    color: white;
    background: rgba(255,255,255,.10);
}

.footer-heading {
  color: #ffffff;
  font-size: 30px;
  margin: 24px 0 24px 0;
  font-weight: 500;
  line-height: 1.1;
}

.footer-custom {
  color: #ffffff;

  a,
  a:visited,
  a:hover,
  a:active {
    color: #ffffff;
  }
}

.bg-navy {
    background-color: #062e47;
}

.libcal-hours-widget {
  table.hours-today {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;

    tr.hours-today-row {
      border-bottom: 1px dotted rgba(255, 255, 255, 0.6);
    }

    th.hours-col-loc,
    td.hours-col-time {
      color: #ffffff;
      font-weight: normal;
      padding: 0.3rem 0rem;
    }

    th.hours-col-loc {
      text-align: left;
    }

    td.hours-col-time {
      text-align: right;
    }

    a {
      color: #ffffff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .s-lc-timetxt,
    .s-lc-byap,
    .no_time {
      color: #ffffff;
    }
  }
}


/* scroll to top */
#scroll-to-top {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 99;
    font-size: 40px; 
}

/* feature include tweaks */
.feature-alert p:last-of-type { margin-bottom: 0; }
@media (min-width: 768px) {
    .feature-w-25 {
        width: 25%!important;
    }
    .feature-w-50 {
        width: 50%!important;
    }
    .feature-w-75 {
        width: 75%!important;
    }
    .feature-w-100 {
        width: 100%!important;
    }
    .feature-float-end {
        float: right!important;
    }
    .feature-float-start {
        float: left!important;
    } 
}

/* bootstrap icons tweaks */
.bi { 
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom; 
    overflow: hidden;
}
.icon-sprite {
    width: 1em;
    height: 1em;
    vertical-align: -0.1em;
}

.hours-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;

  div:first-child {
    text-align: left;
  }

  div:last-child {
    text-align: right;
  }

  a {
    color: #ffffff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  div {
    color: #ffffff;
    font-size: 0.9rem;
  }
}

.h-card {
  font-size: 0.95rem;
  color: #ffffff;
  line-height: 1.5;

  a {
    color: #ffffff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .u-email,
  .p-tel,
  .p-name,
  .h-adr .p-post-office-box,
  .h-adr .p-street-address {
    display: block;
  }

  .h-adr .p-locality,
  .h-adr .p-region,
  .h-adr .p-postal-code {
    display: inline;
  }

  .p-tel {
    margin-bottom: 1.5rem; /* space between phone and address */
  }
}

.social a svg {
height: 32px;
margin-right:20px;
}

.logo {
    fill: #fff;
    margin-block: 24px;
    height: 5em;
}
 .links li {
    text-align: left;
    line-height: 2;
 }
 
.footer-icon {
  display: block;
  margin-left: 0;
  margin-right: auto;
}

// Ensure pull-right aligns container right, including with .list-inline
.pull-right {
  float: right !important;
  text-align: right;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;

  li {
    display: inline-block;
    margin-right: 15px;
  }
}

.footer-custom .container {
  max-width: 1300px;
}

#dynamic-footer-nav {
  background-color: #f8f9fa; /* a soft gray */
  border-top: 1px solid #ddd;
}

#dynamic-footer-nav a {
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 3px;
}

#dynamic-footer-nav a:hover {
  color: #0056b3;
}

#dynamic-footer-nav {
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.05);
}