/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #e6af48 25%, #ffffff 0);
}

/* Header Styles */

.header  {
    background-image: url('{{ site.data.theme.featured-image }}');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
}

@media screen and (max-width: 576px) {
    #home-title-box {
        max-height: 500px;
    }
}

/* logo styles */

#logo {
  max-width: 275px;
  min-height: 50px; 
  height: auto;
  display: block;
  margin: auto;
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  image-rendering: auto;
  display: block;
  fill: #ffffff;
  padding: .75rem;
}

  #logo path.caltech-logotype {
    fill: #FF6C0C;
  }

  div.no-outline {
    border:none !important;
  }

/* centering section title on homepage - if used */
#explore-the-exhibit {
  text-align: center;
}


/* Override Bootstrap primary button */
.btn-primary {
  background-color: #c75000; /* your brand color */
  border-color: #c75000;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #c75000; /* darker shade on hover */
  border-color: #c75000;
}

/* Optional: style plain .btns if used without btn-primary */
.btn {
  font-family: 'Hind', sans-serif;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 600;
}

/* Override link colors for child items */

a.dropdown-custom {
  color:#000000;
  border-bottom: dotted #eeeeee 1px;
  display: block;
  padding: 5px 0px 5px 15px;
  position: relative; // optional, for fine control
  width:250px;
}

a.dropdown-custom::before {
  content: "▶"; 
  margin-right: 8px;
  font-size: 0.8em;
  color: #cbe3df;
}

/* transferring the styles from main menu to ul */

ul.custom-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.custom-list li {
  color: #000000;
  border-bottom: dotted #eeeeee 1px;
  padding: 5px 0px 5px 15px;
  position: relative;
  width: 250px;
  display: block;
}

ul.custom-list li::before {
  content: "▶";
  margin-right: 8px;
  font-size: 0.8em;
  color: #cbe3df;
  position: absolute;
  left: 0;
}

/* Custom Exhibit Color Schemes */

.grey:hover {
  background-color: $grey;
}

.lions-main:hover {
  background-color: $lions-main;
}

.mission-trail:hover {
  background-color: $mission-trail;
}

.pencil-lead:hover {
  background-color: $pencil-lead;
}

.campfire:hover {
  background-color: $campfire;
}