---
# becoming Section of Exhibit
layout: default
---
<style>
#my-mirador {
  height: 900px;
  max-width: 95%;
  margin-top: 43px;
  position: relative;
  border: 1px solid #ccc;
}

/* fixes margins for content-container on devices 540 and smaller */
@media (max-width: 540px) {
  #my-mirador {
  height: 900px;
  max-width: 95%;
  margin-top: 50px;
  position: relative;
  border: 1px solid #ccc;
  }
}

/* adujusting padding on content-container at 445 and smaller */
@media (max-width: 445px) {
  #my-mirador {
  margin: 10px auto;

  }
}
</style>

<div class="row">
  <div class="col-lg-5 col-md-12 col-sm-12">
    {{ content }}
  </div>

  <div class="col-lg-7 col-md-12 col-sm-12">
    <script src="https://unpkg.com/mirador@3.3.0/dist/mirador.min.js"></script>
    <div id="my-mirador"></div>
    <script type="text/javascript">
      // Get base URL using Liquid, rendered as a string
      const baseUrl = "{{ site.baseurl | default: '' }}";

      window.miradorInstance = Mirador.viewer({
        id: "my-mirador",
        manifests: {
          [baseUrl + "/objects/greater-throop-collection/manifest.json"]: {
            provider: "Caltech Library"
          }
        },
        windows: [{
          loadedManifest: baseUrl + "/objects/greater-throop-collection/manifest.json",
          canvasIndex: 0,
          thumbnailNavigationPosition: "none",
          view: "gallery",
          osdBounds: {
            x: 0,
            y: 0,
            width: 5442,
            height: 7299
          }
        }],
        workspaceControlPanel: {
          enabled: false
        },
        window: {
          osdOptions: {
            homePosition: null,
            defaultZoomLevel: 1,
            preserveViewport: false,
            animationTime: 0.5,
            fitBounds: true,
            visibilityRatio: 1.0,
            immediateRender: true,
            minZoomLevel: 0,
            maxZoomLevel: 10
          }
        }
      });
    </script>
  </div>
</div>
